body
{
	background-color: white;
  margin: 0px;
    position: absolute 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}



ul{ border:0; margin:0; padding:0; }

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}


.column {   
  float: left;
  width: 75%;
}



.img 
{
  
  width: 350px;
  padding: 20px;
}

h2
{
  color : #ED0606;
}

p
{
  font-size: 15px;
}

.article 
{
   
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}


.article2 
{

   background-color: white;
   padding: 20px;
   margin-top: 20px;
   margin-left: 850px;
   margin-top: -530px;
}

.article3
{
   background-color: white;
   padding: 20px;
   margin-top: 20px;
   margin-top: 10px;
}

.akamataa
{


   background-color:;
   padding: 20px;
   padding: 10px;
   margin-top: 20px;

}

#demo {
  height:100%;
  position:relative;
  overflow:hidden;
}


.green{
  background-color:#6fb936;
}
        .thumb{
            margin-bottom: 30px;
        }
        
        .page-top{
            margin-top:85px;
        }

   
img.zoom {
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
        
 
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
    .modal-header {
   
     border-bottom: none;
}
    .modal-title {
        color:#000;
    }
    .modal-footer{
      display:none;  
    }

a{
  color: white;
}

footer 
{
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin-top: 20px;
    padding: 14px 50px;
    background-color: #333;
    padding-top: 0px;
    color: red;
    position: absolute; bottom: 0;
    left: 0; 
    right: 0;
}
